# ignore paper
DK0076.pdf

# ignore Sall.pckl
Sall.pckl

# ignore backup file
*~

# ignore MATLAB data file
*.mat

# ignore TeX middle file
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.tex.bak
*.toc
*.tex.sav

# ignore *.pyc file
*.pyc
python/__pycache__/